#collapseOne .input-group-text {
  width: 100px;
}

#single-birthday-result {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 15px;
}

.navbar {
  background-color: #6ed3cf !important;
}

body {
  background-color: #e9ecef;
}

.jumbotron {
  padding-top: 8px;
}

.submit {
  margin-top: 20px;
}

.btn-primary {
  background-color: #9068be;
  border-color: #9068be;
}

.btn-link {
  color: #9068be;
}

.leap-checkbox {
  padding-left: 1.75rem;
}