<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />

    <title>Lunar to Gregorian Date Converter</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
      <!--<img class="moon-ico" src="moon-cal.png" height="40" width="40"/>-->
      <a class="navbar-brand" href="#">MoonBirthday.info</a>
      <span class="desc">Find gregorian birthdays for lunar birthdates.</span>
    </nav>

    <main role="main" class="container">
      <div class="jumbotron">
        <div id="container">
          <div id="accordion">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Lunar Birthdate to Gregorian Birthday
                  </button>
                </h5>
              </div>

              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                  <form id="birthday-form">
                    <h6>Given a lunar birthdate, calculate one or more Gregorian birthdays.</h6>
                    <br/>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Month</span>
                      </div>
                      <input type="number" name="month" min="1" max="12" class="form-control" aria-describedby="basic-addon3" />
                      <div class="form-check leap-checkbox">
                        <input type="checkbox" class="form-check-input" id="leap" name="leap" />
                        <label class="form-check-label">
                          <a href="#" class="popover-btn" data-container="body" data-toggle="popover" data-placement="bottom"
                             data-content="Similar to a leap year in the Gregorian calendar, a leap month with the same
name as the previous month is added to keep the lunar New Year in its proper position in the lunar calendar. For the
purposes of this calculator, someone born in a leap month will have a birthday on the same day in the preceding month if
the leap month is not present.">
                            Leap Month?
                          </a>
                        </label>
                      </div>
                    </div>

                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Day</span>
                      </div>
                      <input type="number" name="day" min="1" max="31" class="form-control" aria-describedby="basic-addon3" />
                    </div>

                    <fieldset>
                      <legend><h6>Find</h6></legend>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="birthdayRadio" id="nextBirthday" value="next" checked="checked" />
                        <label class="form-check-label" for="nextBirthday">
                          Next Birthday
                        </label>
                      </div>

                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="birthdayRadio" id="recurringBirthday" value="recurring" />
                        <label class="form-check-label" for="recurringBirthday">
                          Recurring (Download <a href="https://en.wikipedia.org/wiki/ICalendar">iCalendar</a> file)
                        </label>
                      </div>

                      <div class="input-group mb-3" id="personNameDiv" style="display:none;">
                        <input type="text" class="form-control" id="personName" placeholder="Person's name (required)" aria-label="personName" aria-describedby="personName" />
                      </div>
                    </fieldset>
                  </form>

                  <button id="birthday-submit" class="btn btn-primary submit">Calculate</button>
                  <div id="single-birthday-result" style="display:none;">
                    <p><span class="result"></span></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Gregorian Date to Lunar Date
                  </button>
                </h5>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                  <form id="greg-to-lunar-form">
                    <h6>Given a Gregorian date, find the matching lunar date.</h6>
                    <br/>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Month</span>
                      </div>
                      <select name="month" class="form-control" aria-describedby="basic-addon3">
                        <option value="0">Choose</option>
                        <option value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                      </select>
                    </div>

                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Day</span>
                      </div>
                      <input type="number" name="day" min="1" max="31" class="form-control" aria-describedby="basic-addon3" />
                    </div>

                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Year</span>
                      </div>
                      <input type="number" name="year" min="1900" max="2100" class="form-control" placeholder="Year" aria-label="Year" aria-describedby="basic-addon1"/>
                    </div>

                  </form>

                  <button id="greg-to-lunar-submit" class="btn btn-primary submit">Calculate</button>
                  <div id="greg-to-lunar-result" style="display:none;">
                    <p><span class="result"></span></p>
                    <p><span class ="year-explanation popover-btn" data-container="body" data-toggle="popover" data-placement="bottom"
                             data-content="Different epoch years are used with the Chinese (lunar) calendar. We used the
beginning of the Huángdì era (黄帝紀年), which started in 2697 BCE. Another common epoch is the year the calendar was
supposedly invented, in 2637 BCE.">
                      What year is that?</span></p>
                  </div>
                </div>

              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                    Lunar Date to Gregorian Date
                  </button>
                </h5>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                  <form id="lunar-to-greg-form">
                    <h6>Given a lunar date, find the matching gregorian date.</h6>
                    <br/>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Month</span>
                      </div>
                      <input type="number" name="lmonth" th:value="${lmonth}" min="1" max="12" class="form-control" aria-describedby="basic-addon3" />
                      <div class="form-check leap-checkbox">
                        <input type="checkbox" class="form-check-input" name="leap" />
                        <label class="form-check-label">
                          <a href="#" class="popover-btn" data-container="body" data-toggle="popover" data-placement="bottom"
                             data-content="Similar to a leap year in the Gregorian calendar, a leap month with the same
name as the previous month is added to keep the lunar New Year in its proper position in the lunar calendar.">
                            Leap Month?
                          </a>
                        </label>
                      </div>
                    </div>

                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Day</span>
                      </div>
                      <input type="number" name="lday" th:value="${lday}" min="1" max="30" class="form-control" aria-describedby="basic-addon3" />
                    </div>

                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Year</span>
                      </div>
                      <input type="number" name="lyear" th:value="${lyear}" min="4598" max="4797" class="form-control" placeholder="Year" aria-label="Year" aria-describedby="basic-addon1"/>
                    </div>

                  </form>

                  <button id="lunar-to-greg-submit" class="btn btn-primary submit">Calculate</button>
                  <div id="lunar-to-greg-result" style="display:none;">
                    <p><span class="result"></span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <script src="http://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script th:src="@{/js/main.js}"></script>
  </body>
</html>